<% admin_layout "full-width" %>
<% content_for :page_title do %>
  New Taxonomy
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>New Taxonomy</h4>
      </div>
      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div> 