<section class="bg-[#f5f0e9] py-12">
  <div class="container mx-auto px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      
      <!-- Cột trái -->
      <div class="lg:col-span-2 space-y-8">
        <h1 class="text-h2.5 font-bold text-gray-900">About Event</h1>
        
        <div>
          <h2 class="text-lg font-semibold text-gray-600 mb-2">Statement</h2>
          <p class="text-gray-700">
            Discover an exclusive selection of silver sculptures by Salvador Dalí: refined creations including the iconic melting watches and Alice in Wonderland, where the brilliance of silver enhances the master's surrealist vision.
          </p>
        </div>

        <div>
          <h2 class="text-lg font-semibold text-gray-600 mb-2">Press Release</h2>
          <p class="text-gray-700 mb-4">
            Ben Brown Fine Arts is pleased to present 'Wish You Were Here', an exhibition curated by New York-based curator, art advisor, and independent scholar Jie Xia. On view at Ben Brown Fine Arts Hong Kong, the exhibition evokes the intoxicating pull of summer: the heat, the haze, and the promise of escape. Featuring works by leading postwar and contemporary artists – drawn from the gallery’s programme and beyond – the exhibition explores the iconography of travel, the sea, and the rituals of seasonal escape, approached with varying degrees of meditation, longing, and nostalgia.
          </p>
          <p class="text-gray-700">
            'Wish You Were Here' is a reflection on how we construct and consume paradise – through postcards, advertisements, snapshots, and stylised memories. The beach is explored as a mirage of freedom, mythologised in oil paint, photography, and glossy idealism.
          </p>
        </div>
      </div>
      
      <!-- Cột phải -->
      <div class="flex flex-col gap-8 justify-center space-y-8">
        <div>
          <h2 class="text-lg font-semibold text-gray-600 mb-2">Gallery</h2>
          <p class="text-gray-700">Martket Gallery Ha Noi</p>
        </div>
        <div>
          <h2 class="text-lg font-semibold text-gray-600 mb-2">Location</h2>
          <p class="text-gray-700">
            201 The Factory,<br>
            1 Hang Bai,<br>
            Ha Noi, VN.
          </p>
          <p class="text-gray-700 mt-2">
            Mon - Sat | 11am - 7pm
          </p>
        </div>
      </div>

    </div>

    <div class="flex pt-2.5 px-5 lg:px-6 2xl:px-6">
      <div class="min-h-[50vh] p-4 w-[80%]" style="height: 315px;">
        <iframe
          src="<%= youtube_embed_url(@event.youtube_url) %>"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="w-1/2 h-full w-full"
        ></iframe>
      </div>
    </div>
  </div>
</section>



